
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: lightcoral; color: aliceblue;">Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item  routerLink="/">Home</a> -->
      <!-- <a mat-list-item  routerLink="/Dashboard">Dashboard</a> -->
      <a mat-list-item  routerLink="/Table">
        <span class="material-icons" style="margin-right: 5px;"> assignment </span>Datos</a>
      
      <!-- <a mat-list-item  routerLink="/Contact">Contact</a> -->
      <a mat-list-item  routerLink="/Stepper"><span class="material-icons"style="margin-right: 4px;">face</span>Agregar Personas</a>
      <!-- <a mat-list-item  routerLink="/Dialog">Dialog</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Material</span>
    </mat-toolbar>
    <!-- Add Content Here -->
<!--<p>Agregar Mas Contenido</p>-->
<!--<app-dashboard></app-dashboard>-->
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
